#mynetwork {
    position: relative;
    width: 94%;
    height: 600px;
    border: 1px solid lightgray;
    cursor: grab;
    margin: 0 auto;
}

#network-popUp {
    display: none;
    position: absolute;
    top: 350px;
    left: 170px;
    z-index: 299;
    width: 250px;
    height: 120px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #5394ed;
    padding: 10px;
    text-align: center;
}

#config {
    float: left;
    width: 400px;
    height: 600px;
}
header {
    background-color: #ffffff;
    color:#2F80ED;
    display: -webkit-flex;
    display: flex;
    font-family: Avenir;
    height: 60px;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    cursor: pointer;
    }
button{
    background-color: #2F80ED;
    color:#ffffff;
    height: 42px;
    border: none;
    border-radius: 24px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Avenir;
    margin: 4px;
    padding: 0 8px;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    transition: background-color 0.2s ease-out, box-shadow 0.1s ease-out;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}